#container{
    height:400px;
    width:400px;
    border:2px solid black;
    display: flex;
    flexbox-direction:row;
    /* flexbox:wrap; */
    JUSTIFY-CONTENT:space-around;
    flex-wrap:wrap;
    align-items: center;
    margin-bottom: 200px;
    

}

.child{
    height: 100px;
    width: 100px;
    border:2px solid black;
    font-size: 50px;
    text-align: center;
    background-color: grey;
}

/* Q-2 */

#outbox{
    height: 50px;
    width:900px;
    background-color: pink;
    border:2px solid lightseagreen;
    disPlay:flex;
    justify-content: flex-start;
    align-content: center;
    padding-left: 10px;
    
}

.inbox{
    height: 50px;
    width:80px;
    font-size: 24px;
}