div{
    height:200px;
    width:200px;
    background-color: lime;
    border:2px solid black;
    /*here if we try to use DISPLAY:INLINE; 
    then div will loose all ccs*/
    /*therefotre we should use DISPLAY:INLINE-BLOCK; 
    SO IT WILL NOT LOOSE ITS CSS AND ACT AS INLINE ALSO*/
    DISPLAY:INLINE-BLOCK;
}