/*ALPHA CHANNEL-WE CONTROLL ONLY COLOR I.E HOW BLUR/LIGHT AND
 HOW DARK COLOR SHOULD BE 

    RGBA(0,0,0,0)
    RGB RANGE IS 0-255
    AND ALPHA RANGE IS 0-1
    */
div{
    height: 200px;
    width: 200px;
    background-color:RGBA(255,0,0,0.5);
}
/*OPACITY-IT CONTROLS TRANSLUCENTNESS OF WHOLE ELEMENT
RANGE 0-1
SYNTAX OPACITY:0;
*/
#opacity {
    background-color:RGB(255,0,0);
    opacity:0;


}