div{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 2px solid black;
    display:inline-block;
    margin:20px;

}

#static{
    position:static;
    background-color: yellow;
    left: 100px;
    top: 100px;

}

#relative{
    position:relative;
    background-color: yellow;
    left: 100px;
    top: 100px;

}

#absolute{
    position:absolute;
    background-color: yellow;
    left: 100px;
    top: 100px;

}

#fixed{
    position:fixed;
    background-color: yellow;
    left: 100px;
    top: 100px;

}

