#outer{
    height: 400px;
    width: 300px;
    background-color: pink;
    font-size: 10px;
}
 #inner{
    height: 100px;
    width: 50px;
    background-color: aqua;
    font-size: 2em;
 }
 /*so em doubles fontsize of it parent element*/
 /*drawback is snowball effect*/
 /*div{
    font-size:2em;
 }
 */
 /*for example if we have 3 div's one inside another and we apply css as
 fontsize:2em;
 then font of 2nd div woud be doukbe 
 and font of 3rd div would be 3ries.
 */
 button{
    font-size: 50px;
    padding-left:1em;
    padding-right:1em;
 }
 /* so here font size is 50px in case if we want to changefont size then padding 
 would be affected for ex if padding left is 20 px and font-size is 50px and then 
 if we change font size to 100px then padding we be reduced and also if font size is reduced
 paddng in increased*/

 /*REM-ROOT EM -
 <section>
    <div>
    div1
        <div>
        div2
        </div>
    </div>
</section>
so here div1 and div2 will get preopertties with respecty to selection(root element)
if selection font-size is 20px
then if font-size=1rem
then div1 nd div2 will hve 20px font size only