div{
    height:50px;
    width:100px;
    background-color: hotpink;
    border: 2px solid black;
    
}
/*transform*/

#one{
    transform:rotate(45deg);
    margin-top:100px;
    
}
#two{
    transform:scale(0.5);
    
}/*scale in both dir.*/ 
    /*scaling can be done as follows aswell
    transform:scale(0.5,2); i.e scale 0.5 in x direction and 2 in y direc.
    transform:scalex(0.5); in x direction only,same as for Y

}*/
#three{
    transform
}