
button:hover{
    background-color:black;
    color:white;
}
p:active{
    font-weight:bold;
    color:green;
}
input[type="radio"]:checked +label{
    font-weight:bold;
    color:red;
}
p:nth-of-type(2){
    background-color:pink;
}